{% extends "base.html.twig" %}

{% block title %}Jeara - Bug {{ bug.title }}{% endblock %}

{% block mainContainer %}
    <div>
        <h1>Bugs</h1>
    </div>
    <div>
        <h2>Sort Bugs by:</h2>||
        <a href="/bugs">creation date(default)</a> ||
        <a href="/creator">creator</a> ||
        <a href="/tags">tags</a> ||
        <a href="/assignee"><b>ASSIGNEE</b></a> ||
        <a href="/status">status</a> ||
    </div>

    <div>
        <h2>Bugs Assigned to {{ Assignee.name }}</h2>
    </div>

    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Bug Number </th>
                <th>Bug Title</th>
                <th>Bug Create Date</th>
            </tr>
            </thead>
            <tbody>
            {% for Bug in Bugs %}
                <tr>
                    <td>{{ Bug.bugId }}</td>
                    <td><a href="/bugs/{{ Bug.bugId }}">{{ Bug.title }}</a></td>
                    <td>{{ Bug.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
